TC_LC_2024.json
[
    {
        "id": "a3a5297f6c4eb17b",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "99303979d26972e1",
        "type": "tab",
        "label": "SVSI Switching",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cce4d4a2f7d1010e",
        "type": "group",
        "z": "99303979d26972e1",
        "name": "Source Button Feeback",
        "style": {
            "stroke": "#92d04f",
            "label": true
        },
        "nodes": [
            "d48e0b95f59acf5e",
            "2dfb121870ec1887",
            "594f206062dcdedb",
            "531bf7640598891a",
            "7315cd30a54e7361",
            "13365e1d0b39f4dc",
            "35fab4221b5a6bdd",
            "3368acfda836ffe5"
        ],
        "x": 54,
        "y": 219,
        "w": 1212,
        "h": 242
    },
    {
        "id": "a7e847e14b808079",
        "type": "group",
        "z": "99303979d26972e1",
        "name": "Source Selection",
        "style": {
            "stroke": "#ffff00",
            "label": true
        },
        "nodes": [
            "10f02cef85fb5ff9",
            "c2e5286164e30546",
            "1f78179f6f9e88b5",
            "c3ed392d15575483"
        ],
        "x": 54,
        "y": 59,
        "w": 372,
        "h": 142
    },
    {
        "id": "b69aeef737b799da",
        "type": "Controller",
        "z": "a3a5297f6c4eb17b",
        "name": "Muse MU-1300",
        "mojo": {
            "controller": "192.168.155.2:80",
            "protocol": "http",
            "host": "192.168.155.2",
            "port": 80,
            "username": "admin",
            "password": "$Mgill06071975"
        },
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "e92c9383ec1b9fbf",
        "type": "Control Panel",
        "z": "a3a5297f6c4eb17b",
        "name": "LC Varia SL-80",
        "mojo": {
            "device": "AMX-10001",
            "md5": "503b448e83599a0ecb5277f030dd954d",
            "tp5": "TC Lets Connect 2024.TP5"
        },
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "10f02cef85fb5ff9",
        "type": "UI Control",
        "z": "99303979d26972e1",
        "g": "a7e847e14b808079",
        "name": "Source 1",
        "mojo": {
            "cp": "e92c9383ec1b9fbf",
            "type": "BUTTON",
            "path": "//505/3",
            "locator": {
                "ccode": 1,
                "cport": 3
            },
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 140,
        "y": 100,
        "wires": [
            [
                "c3ed392d15575483"
            ]
        ]
    },
    {
        "id": "c2e5286164e30546",
        "type": "UI Control",
        "z": "99303979d26972e1",
        "g": "a7e847e14b808079",
        "name": "Source 2",
        "mojo": {
            "cp": "e92c9383ec1b9fbf",
            "type": "BUTTON",
            "path": "//505/2",
            "locator": {
                "ccode": 2,
                "cport": 3
            },
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 140,
        "y": 160,
        "wires": [
            [
                "1f78179f6f9e88b5"
            ]
        ]
    },
    {
        "id": "f66b7135afd82214",
        "type": "UI Control",
        "z": "99303979d26972e1",
        "name": "Dec 1",
        "mojo": {
            "cp": "e92c9383ec1b9fbf",
            "type": "BUTTON",
            "path": "//505/4",
            "locator": {
                "ccode": 3,
                "cport": 3
            },
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 130,
        "y": 700,
        "wires": [
            [
                "3e102018d4210968"
            ]
        ]
    },
    {
        "id": "8fee283e58160b11",
        "type": "UI Control",
        "z": "99303979d26972e1",
        "name": "Dec 2",
        "mojo": {
            "cp": "e92c9383ec1b9fbf",
            "type": "BUTTON",
            "path": "//505/9",
            "locator": {
                "ccode": 4,
                "cport": 3
            },
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 130,
        "y": 760,
        "wires": [
            [
                "832834d6272d5a74"
            ]
        ]
    },
    {
        "id": "a713c4846194b7e3",
        "type": "tcp request",
        "z": "99303979d26972e1",
        "name": "Decoder 1",
        "server": "192.168.155.102",
        "port": "50002",
        "out": "sit",
        "ret": "string",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 830,
        "y": 700,
        "wires": [
            [
                "6b8a96acc119638d",
                "ee9c36ba5c57ef4c"
            ]
        ]
    },
    {
        "id": "3e102018d4210968",
        "type": "change",
        "z": "99303979d26972e1",
        "name": "Decoder 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "svsi.src",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 700,
        "wires": [
            [
                "a713c4846194b7e3"
            ]
        ]
    },
    {
        "id": "832834d6272d5a74",
        "type": "change",
        "z": "99303979d26972e1",
        "name": "Decoder 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "svsi.src",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 760,
        "wires": [
            [
                "bc99e91caea7b6b1"
            ]
        ]
    },
    {
        "id": "6b8a96acc119638d",
        "type": "debug",
        "z": "99303979d26972e1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 700,
        "wires": []
    },
    {
        "id": "d48e0b95f59acf5e",
        "type": "Command",
        "z": "99303979d26972e1",
        "g": "cce4d4a2f7d1010e",
        "name": "Src 1 Btn Feedback",
        "mojo": {
            "device": "AMX-10001",
            "command": "//port/3/channel/1",
            "normalized": false,
            "cmdvalue": "Message payload",
            "args": "",
            "onebased": true
        },
        "x": 1150,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1f78179f6f9e88b5",
        "type": "change",
        "z": "99303979d26972e1",
        "g": "a7e847e14b808079",
        "name": "Set SRC 2",
        "rules": [
            {
                "t": "set",
                "p": "svsi.src",
                "pt": "flow",
                "to": "set: 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c3ed392d15575483",
        "type": "change",
        "z": "99303979d26972e1",
        "g": "a7e847e14b808079",
        "name": "Set SRC 1",
        "rules": [
            {
                "t": "set",
                "p": "svsi.src",
                "pt": "flow",
                "to": "set: 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2dfb121870ec1887",
        "type": "Command",
        "z": "99303979d26972e1",
        "g": "cce4d4a2f7d1010e",
        "name": "Src 2 Btn Feedback",
        "mojo": {
            "device": "AMX-10001",
            "command": "//port/3/channel/2",
            "normalized": false,
            "cmdvalue": "Message payload",
            "onebased": true
        },
        "x": 1150,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "594f206062dcdedb",
        "type": "complete",
        "z": "99303979d26972e1",
        "g": "cce4d4a2f7d1010e",
        "name": "",
        "scope": [
            "c3ed392d15575483",
            "1f78179f6f9e88b5"
        ],
        "uncaught": false,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "531bf7640598891a"
            ]
        ]
    },
    {
        "id": "531bf7640598891a",
        "type": "switch",
        "z": "99303979d26972e1",
        "g": "cce4d4a2f7d1010e",
        "name": "",
        "property": "svsi.src",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "set: 1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "set: 2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "7315cd30a54e7361"
            ],
            [
                "13365e1d0b39f4dc"
            ]
        ]
    },
    {
        "id": "7315cd30a54e7361",
        "type": "change",
        "z": "99303979d26972e1",
        "g": "cce4d4a2f7d1010e",
        "name": "Context to Boolean",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "d48e0b95f59acf5e",
                "35fab4221b5a6bdd"
            ]
        ]
    },
    {
        "id": "13365e1d0b39f4dc",
        "type": "change",
        "z": "99303979d26972e1",
        "g": "cce4d4a2f7d1010e",
        "name": "Context To Boolean",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "2dfb121870ec1887",
                "3368acfda836ffe5"
            ]
        ]
    },
    {
        "id": "35fab4221b5a6bdd",
        "type": "Invert",
        "z": "99303979d26972e1",
        "g": "cce4d4a2f7d1010e",
        "name": "Invert",
        "x": 950,
        "y": 360,
        "wires": [
            [
                "2dfb121870ec1887"
            ]
        ]
    },
    {
        "id": "3368acfda836ffe5",
        "type": "Invert",
        "z": "99303979d26972e1",
        "g": "cce4d4a2f7d1010e",
        "name": "Invert",
        "x": 950,
        "y": 300,
        "wires": [
            [
                "d48e0b95f59acf5e"
            ]
        ]
    },
    {
        "id": "ad7571ef97919fa7",
        "type": "debug",
        "z": "99303979d26972e1",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 760,
        "wires": []
    },
    {
        "id": "bc99e91caea7b6b1",
        "type": "tcp request",
        "z": "99303979d26972e1",
        "name": "Decoder 2",
        "server": "192.168.155.103",
        "port": "50002",
        "out": "time",
        "ret": "string",
        "splitc": "1000",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 830,
        "y": 760,
        "wires": [
            [
                "ad7571ef97919fa7",
                "a3e1918c47410896"
            ]
        ]
    },
    {
        "id": "41760229ba0d45c5",
        "type": "Command",
        "z": "99303979d26972e1",
        "name": "Dst 1 Btn Feedback",
        "mojo": {
            "device": "AMX-10001",
            "command": "//port/3/send_command",
            "normalized": false,
            "cmdvalue": "Message payload",
            "args": "",
            "onebased": true
        },
        "x": 1670,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "daea4e2d219464fa",
        "type": "Command",
        "z": "99303979d26972e1",
        "name": "Dst 2 Btn Feedback",
        "mojo": {
            "device": "AMX-10001",
            "command": "//port/3/channel/4",
            "normalized": false,
            "cmdvalue": "Message payload",
            "onebased": true
        },
        "x": 1670,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "ee9c36ba5c57ef4c",
        "type": "switch",
        "z": "99303979d26972e1",
        "name": "Dec 1 Stream Feedback",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "STREAM:1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "STREAM:2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 640,
        "wires": [
            [
                "ac649d08c62726bd"
            ],
            [
                "78cd8f7682f39208"
            ]
        ]
    },
    {
        "id": "ac649d08c62726bd",
        "type": "change",
        "z": "99303979d26972e1",
        "name": "TP Command Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "^TXT-3,0,1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 620,
        "wires": [
            [
                "41760229ba0d45c5"
            ]
        ]
    },
    {
        "id": "78cd8f7682f39208",
        "type": "change",
        "z": "99303979d26972e1",
        "name": "TP Command Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "^TXT-3,0,2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 660,
        "wires": [
            [
                "41760229ba0d45c5"
            ]
        ]
    },
    {
        "id": "a3e1918c47410896",
        "type": "switch",
        "z": "99303979d26972e1",
        "name": "Dec 2 Stream Feedback",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "STREAM:1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "STREAM:2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 840,
        "wires": [
            [
                "2436dd0f7a725f94"
            ],
            [
                "e4d4b2c80c14e451"
            ]
        ]
    },
    {
        "id": "2436dd0f7a725f94",
        "type": "change",
        "z": "99303979d26972e1",
        "name": "TP Command Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "^TXT-4,0,1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 820,
        "wires": [
            [
                "daea4e2d219464fa"
            ]
        ]
    },
    {
        "id": "e4d4b2c80c14e451",
        "type": "change",
        "z": "99303979d26972e1",
        "name": "TP Command Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "^TXT-4,0,2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 860,
        "wires": [
            [
                "daea4e2d219464fa"
            ]
        ]
    }
]