TC_LC_2024.json
[
    {
        "id": "a3a5297f6c4eb17b",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "99303979d26972e1",
        "type": "tab",
        "label": "SVSI Switching",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b69aeef737b799da",
        "type": "Controller",
        "z": "a3a5297f6c4eb17b",
        "name": "Muse MU-1300",
        "mojo": {
            "controller": "192.168.155.2:80",
            "protocol": "http",
            "host": "192.168.155.2",
            "port": 80,
            "username": "admin",
            "password": "$Mgill06071975"
        },
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "e92c9383ec1b9fbf",
        "type": "Control Panel",
        "z": "a3a5297f6c4eb17b",
        "name": "LC Varia SL-80",
        "mojo": {
            "device": "AMX-10001",
            "md5": "503b448e83599a0ecb5277f030dd954d",
            "tp5": "TC Lets Connect 2024.TP5"
        },
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "10f02cef85fb5ff9",
        "type": "UI Control",
        "z": "99303979d26972e1",
        "name": "Source 1",
        "mojo": {
            "cp": "e92c9383ec1b9fbf",
            "type": "BUTTON",
            "path": "//505/3",
            "locator": {
                "ccode": 1,
                "cport": 3
            },
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 140,
        "y": 80,
        "wires": [
            [
                "c3ed392d15575483"
            ]
        ]
    },
    {
        "id": "c2e5286164e30546",
        "type": "UI Control",
        "z": "99303979d26972e1",
        "name": "Source 2",
        "mojo": {
            "cp": "e92c9383ec1b9fbf",
            "type": "BUTTON",
            "path": "//505/2",
            "locator": {
                "ccode": 2,
                "cport": 3
            },
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 140,
        "y": 140,
        "wires": [
            [
                "1f78179f6f9e88b5"
            ]
        ]
    },
    {
        "id": "f66b7135afd82214",
        "type": "UI Control",
        "z": "99303979d26972e1",
        "name": "Dec 1",
        "mojo": {
            "cp": "e92c9383ec1b9fbf",
            "type": "BUTTON",
            "path": "//505/4",
            "locator": {
                "ccode": 3,
                "cport": 3
            },
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 130,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8fee283e58160b11",
        "type": "UI Control",
        "z": "99303979d26972e1",
        "name": "Dec 2",
        "mojo": {
            "cp": "e92c9383ec1b9fbf",
            "type": "BUTTON",
            "path": "//505/9",
            "locator": {
                "ccode": 4,
                "cport": 3
            },
            "trigger": "PUSH",
            "state": "NONE"
        },
        "x": 130,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c3ed392d15575483",
        "type": "change",
        "z": "99303979d26972e1",
        "name": "Set SRC 1",
        "rules": [
            {
                "t": "set",
                "p": "svsi.src",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1f78179f6f9e88b5",
        "type": "change",
        "z": "99303979d26972e1",
        "name": "Set SRC 2",
        "rules": [
            {
                "t": "set",
                "p": "svsi.src",
                "pt": "flow",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 140,
        "wires": [
            []
        ]
    }
]